[immudb-node](../README.md) / [Exports](../modules.md) / immu-verify-verification

# Module: immu-verify-verification

## Table of contents

### References

- [refTxInTx](immu_verify_verification.md#reftxintx)
- [txInRefTx](immu_verify_verification.md#txinreftx)
- [txIsRefTx](immu_verify_verification.md#txisreftx)
- [verifyEntries](immu_verify_verification.md#verifyentries)
- [verifyEntriesAllOf](immu_verify_verification.md#verifyentriesallof)
- [verifyEntriesOneOf](immu_verify_verification.md#verifyentriesoneof)
- [verifyTx](immu_verify_verification.md#verifytx)
- [verifyVerification](immu_verify_verification.md#verifyverification)

## References

### refTxInTx

Re-exports [refTxInTx](immu_verify_verification_tx.md#reftxintx)

___

### txInRefTx

Re-exports [txInRefTx](immu_verify_verification_tx.md#txinreftx)

___

### txIsRefTx

Re-exports [txIsRefTx](immu_verify_verification_tx.md#txisreftx)

___

### verifyEntries

Re-exports [verifyEntries](immu_verify_verification_entry.md#verifyentries)

___

### verifyEntriesAllOf

Re-exports [verifyEntriesAllOf](immu_verify_verification_entry.md#verifyentriesallof)

___

### verifyEntriesOneOf

Re-exports [verifyEntriesOneOf](immu_verify_verification_entry.md#verifyentriesoneof)

___

### verifyTx

Re-exports [verifyTx](immu_verify_verification_tx.md#verifytx)

___

### verifyVerification

Re-exports [verifyVerification](immu_verify_verification_verify.md#verifyverification)
