[immudb-node](../README.md) / [Exports](../modules.md) / types/Verification

# Module: types/Verification

## Table of contents

### Type Aliases

- [Verification](types_Verification.md#verification)

## Type Aliases

### Verification

Ƭ **Verification**: `Object`

#### Type declaration

| Name | Type |
| :------ | :------ |
| `entries` | [`VerificationEntries`](types_VerificationEntries.md#verificationentries) |
| `tx` | [`VerificationTx`](types_VerificationTx.md#verificationtx) |

#### Defined in

[immudb-node/src/types/Verification.ts:7](https://github.com/codenotary/immudb-node/blob/fe12060/immudb-node/src/types/Verification.ts#L7)
